<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wenshu.mapper.UserMapper">
    <insert id="addUser" keyColumn="id" parameterType="com.example.wenshu.model.User">
      insert into user(id,name,type,colledgeId)
      values (#{id},#{name},#{type},#{collegeId})
    </insert>

    <select id="selectByPrimaryKey" resultType="com.example.wenshu.model.User">
        select * from user where id=#{userid}
    </select>


</mapper>